# Modelo de Examen Practico - TLP3 - Python para Ciencia de Datos.

**A partir del datasets brindado, realizar los siguientes procedimientos:**

* Importar datasets con Pandas.
* Explorar los datos con los metodos correspondientes. 
* Limpieza de los datos (Normalización de datos).
* Obtener estadisticas.
* Mostrar los datos procesados con graficos utilizando la libreria Matplotlib.
* Exportar el contenido a un archivo sqlite utilizando PANDAS.


**Importante: Se debe documentar cada procedimiento realizado, siguiendo la siguiente estructura:**

1. Celda de Markdown (Documentación)
2. Código (Sin comentarios, se debe documentar lo sufiente solo en la celda de markdown).

In [1]:
pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl.metadata (19 kB)
Collecting numpy>=1.26.0 (from pandas)
  Using cached numpy-2.2.5-cp312-cp312-win_amd64.whl.metadata (60 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ipf-2025\desktop\modelo_examen_tlp3\venv\lib\site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in c:\users\ipf-2025\desktop\modelo_examen_tlp3\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Using cached pandas-2.2.3-cp312-cp312-win_amd64.whl (11.5 MB)
Using cached numpy-2.2.5-cp312-cp312-win_amd64.whl (12.6 MB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.5 pandas-2.2.3 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
pip install Matplotlib

Collecting Matplotlib
  Using cached matplotlib-3.10.1-cp312-cp312-win_amd64.whl.metadata (11 kB)
Collecting contourpy>=1.0.1 (from Matplotlib)
  Using cached contourpy-1.3.2-cp312-cp312-win_amd64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from Matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from Matplotlib)
  Using cached fonttools-4.57.0-cp312-cp312-win_amd64.whl.metadata (104 kB)
Collecting kiwisolver>=1.3.1 (from Matplotlib)
  Using cached kiwisolver-1.4.8-cp312-cp312-win_amd64.whl.metadata (6.3 kB)
Requirement already satisfied: numpy>=1.23 in c:\users\ipf-2025\desktop\modelo_examen_tlp3\venv\lib\site-packages (from Matplotlib) (2.2.5)
Requirement already satisfied: packaging>=20.0 in c:\users\ipf-2025\desktop\modelo_examen_tlp3\venv\lib\site-packages (from Matplotlib) (25.0)
Collecting pillow>=8 (from Matplotlib)
  Using cached pillow-11.2.1-cp312-cp312-win_amd64.whl.metadata (9.1 kB)
Collecting pyparsing>=2.3.1 (from Matplotlib)
  Using cached pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\ipf-2025\desktop\modelo_examen_tlp3\venv\lib\site-packages (from Matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\ipf-2025\desktop\modelo_examen_tlp3\venv\lib\site-packages (from python-dateutil>=2.7->Matplotlib) (1.17.0)
Using cached matplotlib-3.10.1-cp312-cp312-win_amd64.whl (8.1 MB)
Using cached contourpy-1.3.2-cp312-cp312-win_amd64.whl (223 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Using cached fonttools-4.57.0-cp312-cp312-win_amd64.whl (2.2 MB)
Using cached kiwisolver-1.4.8-cp312-cp312-win_amd64.whl (71 kB)
Using cached pillow-11.2.1-cp312-cp312-win_amd64.whl (2.7 MB)
Using cached pyparsing-3.2.3-py3-none-any.whl (111 kB)
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, Matplotlib
Successfully installed Matplotlib-3.10.1 contourpy-1.3.2 cycler-0.12.1 fonttools-4.57.0 kiwisolver-1.4.8 pillow-11.2.1 pyparsing-3.2.3
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 24.3.1 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

## Actividades: 
### 1. Importación del Dataset con Pandas

En esta sección, se debe utilizar la librería Pandas para cargar el archivo CSV que contiene los datos de las calificaciones en un DataFrame, que es la estructura de datos fundamental para el análisis con Pandas.

### 2. Exploración Inicial de los Datos

A continuación, se deben emplear métodos de Pandas para obtener una visión general del dataset. Esto incluye mostrar las primeras filas, obtener un resumen de la información del DataFrame (tipos de datos, valores no nulos), y calcular estadísticas descriptivas de las columnas numéricas.

### 3. Limpieza y Normalización de los Datos

Esta etapa crucial deben aplicar la corrección de diversos errores presentes en el dataset. Se abordarán los valores faltantes, la inconsistencia en el formato de la columna 'Asistencia', los posibles valores atípicos y la normalización de los nombres de estudiantes y materias a un formato consistente (por ejemplo, capitalización).

### 4. Obtención de Estadísticas Descriptivas

Después de la limpieza, deben calcular nuevamente las estadísticas descriptivas para observar el impacto del proceso de limpieza en los datos numéricos. También se pueden calcular estadísticas específicas por grupo (por ejemplo, promedio de calificaciones por materia).

### 5. Visualización de los Datos con Matplotlib

En esta sección, deben utilizar la librería Matplotlib para crear visualizaciones que permitan comprender mejor la distribución de las calificaciones y la asistencia. Se generarán histogramas, diagramas de dispersión y gráficos de barras.

### 6. Exportación a Archivo SQLite

Finalmente, deben utilizar la funcionalidad de Pandas para guardar el DataFrame procesado en una base de datos SQLite. Esto permite almacenar los datos de forma estructurada para su posterior consulta y uso.

## Punto 1:
Se importa la libreria pandas, luego se carga el archivo csv que contiene los datos de las calificaciones en un DataFrame

In [21]:
import pandas as pd
df = pd.read_csv("datasets_calificaciones.csv", on_bad_lines="skip")

## Punto 2: exploracion inicial de los datos
Se utilizia el metodo head() para mostrar las primeras filas del DataFrame
Se utiliza el metodo info() para obtener tipos de datos y valores no nulos
Se utiliza el metodo describe() para obtener un analisis estadistico de las columnas

In [22]:
df.head(10)

         estudiante               Materia Parcial 1 Parcial 2 Final Asistencia
0         ana pérez           matematicas         8       7.5     9        95%
1      carlos lópez                fisica       6.2         7   NaN        88%
2       maría gómez               quimica         9       8.8   9.5       100%
3   pedro rodríguez              historia       7.5         6     7         75
4      laura vargas           matematicas                 9.2   8.5        92%
5       javier soto                fisica       5.8       6.5     6        80%
6        sofia díaz     ciencias sociales       9.5       9.1              98%
7  miguel fernández  literatura universal         8       7.8   8.2        85%
8    valentina ruiz           matematicas         7             7.8        90%
9      diego castro                fisica       6.8       7.2   7.5        93%

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   95 non-null     object
 3   Parcial 2   90 non-null     object
 4   Final       89 non-null     object
 5   Asistencia  100 non-null    object
dtypes: object(6)
memory usage: 4.8+ KB

In [24]:
df.describe()

        estudiante      Materia Parcial 1 Parcial 2 Final Asistencia
count          100          100        95        90    89        100
unique          96            7        49        45    46         35
top     mateo díaz  matematicas                 7.5   9.5        99%
freq             2           25         7         5     4          5

## Punto 3: Limpieza y Normalización de los Datos
- Se utiliza isnull().sum() para contar cuantos valores nulos hay por columna
- Se utiliza .replace("[\%,]", "", regex=True) para eliminar simbolos y luego convertirlo a tipo numerico
- Se utiliza to_numeric([]) para convertir parcial 1, parcial 2, final y asistencia a tipo numerico
- Se utiliza df.info() para corroborar que se hayan convertido a tipo numerico esas columnas
- Se utiliza .fillna() para reemplazar los NaN y luego .mean() para sacar el promedio de esas columnas y inplace=True para que modifique el dataframe original sin reasignar a una nueva variable
- Se utiliza .str.title().str.strip() para corregir la capitalizacion y eliminar espacios extra
- Se utiliza un condicional para ver errores atipicos y luego reemplazarlos

In [34]:
df.isnull().sum()

estudiante    0
Materia       0
Parcial 1     0
Parcial 2     0
Final         0
Asistencia    0
dtype: int64

In [32]:
df["Parcial 1"] = pd.to_numeric(df["Parcial 1"], errors = "coerce")
df["Parcial 2"] = pd.to_numeric(df["Parcial 2"], errors = "coerce")
df["Final"] = pd.to_numeric(df["Final"], errors = "coerce")
df["Asistencia"] = df["Asistencia"].replace("[\%,]", "", regex=True)
df["Asistencia"] = pd.to_numeric(df["Asistencia"], errors = "coerce")
df.head(10)

<>:4: SyntaxWarning: invalid escape sequence '\%'
<>:4: SyntaxWarning: invalid escape sequence '\%'
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_1072\2116518245.py:4: SyntaxWarning: invalid escape sequence '\%'
  df["Asistencia"] = df["Asistencia"].replace("[\%,]", "", regex=True)

,estudiante,Materia,Parcial 1,Parcial 2,Final,Asistencia
0,ana pérez,matematicas,8.0,7.5,9.0,95
1,carlos lópez,fisica,6.2,7.0,NaN,88
2,maría gómez,quimica,9.0,8.8,9.5,100
3,pedro rodríguez,historia,7.5,6.0,7.0,75
4,laura vargas,matematicas,NaN,9.2,8.5,92
5,javier soto,fisica,5.8,6.5,6.0,80
6,sofia díaz,ciencias sociales,9.5,9.1,NaN,98
7,miguel fernández,literatura universal,8.0,7.8,8.2,85
8,valentina ruiz,matematicas,7.0,NaN,7.8,90
9,diego castro,fisica,6.8,7.2,7.5,93

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   estudiante  100 non-null    object
 1   Materia     100 non-null    object
 2   Parcial 1   88 non-null     float64
 3   Parcial 2   88 non-null     float64
 4   Final       85 non-null     float64
 5   Asistencia  100 non-null    int64
dtypes: float64(3), int64(1), object(2)
memory usage: 4.8+ KB

In [33]:
df["Parcial 1"].fillna(df["Parcial 1"].mean().round(2), inplace=True)
df["Parcial 2"].fillna(df["Parcial 2"].mean().round(2), inplace=True)
df["Final"].fillna(df["Final"].mean().round(2), inplace=True)
df.head(10)

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_1072\2519296444.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Parcial 1"].fillna(df["Parcial 1"].mean().round(2), inplace=True)
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_1072\2519296444.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Parcial 2"].fillna(df["Parcial 2"].mean().round(2), inplace=True)
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_1072\2519296444.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Final"].fillna(df["Final"].mean().round(2), inplace=True)

,estudiante,Materia,Parcial 1,Parcial 2,Final,Asistencia
0,ana pérez,matematicas,8.00,7.50,9.00,95
1,carlos lópez,fisica,6.20,7.00,7.89,88
2,maría gómez,quimica,9.00,8.80,9.50,100
3,pedro rodríguez,historia,7.50,6.00,7.00,75
4,laura vargas,matematicas,7.83,9.20,8.50,92
5,javier soto,fisica,5.80,6.50,6.00,80
6,sofia díaz,ciencias sociales,9.50,9.10,7.89,98
7,miguel fernández,literatura universal,8.00,7.80,8.20,85
8,valentina ruiz,matematicas,7.00,7.83,7.80,90
9,diego castro,fisica,6.80,7.20,7.50,93

In [37]:
df["estudiante"] = df["estudiante"].str.title().str.strip()
df["Materia"] = df["Materia"].str.title().str.strip()
df.head(20)

,estudiante,Materia,Parcial 1,Parcial 2,Final,Asistencia
0,Ana Pérez,Matematicas,8.00,7.50,9.00,95
1,Carlos López,Fisica,6.20,7.00,7.89,88
2,María Gómez,Quimica,9.00,8.80,9.50,100
3,Pedro Rodríguez,Historia,7.50,6.00,7.00,75
4,Laura Vargas,Matematicas,7.83,9.20,8.50,92
5,Javier Soto,Fisica,5.80,6.50,6.00,80
6,Sofia Díaz,Ciencias Sociales,9.50,9.10,7.89,98
7,Miguel Fernández,Literatura Universal,8.00,7.80,8.20,85
8,Valentina Ruiz,Matematicas,7.00,7.83,7.80,90
9,Diego Castro,Fisica,6.80,7.20,7.50,93
10,Isabella Torres,Quimica,9.20,8.50,9.00,97
11,Sebastián Vargas,Historia,7.90,6.30,7.89,70
12,Martina Soto,Matematicas,8.50,8.90,9.10,96
13,Mateo Díaz,Programacion Basica,7.83,5.90,6.30,82
14,Emilia Ruiz,Quimica,9.80,9.50,9.90,101
15,Benjamín Castro,Historia,6.50,7.10,6.80,78
16,Abril Gómez,Matematicas,7.20,8.10,8.60,91
17,Lucas Pérez,Fisica,5.50,6.80,5.90,79
18,Camila Rodríguez,Quimica,9.10,9.30,7.89,99
19,Juan Vargas,Historia,8.30,7.50,8.80,87

In [40]:
df[df["Asistencia"] > 100]
df[df["Asistencia"] > 100] = 100
df.head(20)

,estudiante,Materia,Parcial 1,Parcial 2,Final,Asistencia
0,Ana Pérez,Matematicas,8.00,7.50,9.00,95
1,Carlos López,Fisica,6.20,7.00,7.89,88
2,María Gómez,Quimica,9.00,8.80,9.50,100
3,Pedro Rodríguez,Historia,7.50,6.00,7.00,75
4,Laura Vargas,Matematicas,7.83,9.20,8.50,92
5,Javier Soto,Fisica,5.80,6.50,6.00,80
6,Sofia Díaz,Ciencias Sociales,9.50,9.10,7.89,98
7,Miguel Fernández,Literatura Universal,8.00,7.80,8.20,85
8,Valentina Ruiz,Matematicas,7.00,7.83,7.80,90
9,Diego Castro,Fisica,6.80,7.20,7.50,93
10,Isabella Torres,Quimica,9.20,8.50,9.00,97
11,Sebastián Vargas,Historia,7.90,6.30,7.89,70
12,Martina Soto,Matematicas,8.50,8.90,9.10,96
13,Mateo Díaz,Programacion Basica,7.83,5.90,6.30,82
14,100,100,100.00,100.00,100.00,100
15,Benjamín Castro,Historia,6.50,7.10,6.80,78
16,Abril Gómez,Matematicas,7.20,8.10,8.60,91
17,Lucas Pérez,Fisica,5.50,6.80,5.90,79
18,Camila Rodríguez,Quimica,9.10,9.30,7.89,99
19,Juan Vargas,Historia,8.30,7.50,8.80,87